%i{
  position: absolute;
  transition: all 0.25s ease;
  font-size: 1.3rem;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.5);
}

.icon-input {
  position: relative;
  display: flex;
  align-items: center;
  input[type="user"],
  input[type="password"],
  input[type="text"] {
    padding: 7% 14%;
    border-radius: 25px;
    border: 0;
    box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.15);
    transition: all 0.25s ease;
    min-width: 250px;
    &:focus {
      transform: translate(0, -6px);
      box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.29);
      padding-left: 28px;
      outline: none;
    }
  }
  .icons {
    position: absolute;
    right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    width: 20px;
    height: 20px;
    transition: all 0.25s ease;
    .check {
      @extend %i;
      color: #3aba6f;
      text-shadow: 0 5px 10px rgb(58, 186, 111, 0.3);
    }
    .x {
      @extend %i;
      color: rgb(240, 90, 92);
      text-shadow: 0 5px 10px rgb(240, 90, 92);
    }
  }

  .valid ~ .check {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  .invalid ~ .x {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}
