@import "../../assets/styles/common.scss";

.general {
  height: min-content;
  white-space: "pre"
}

.gray {
  color: $gray;
}
.white {
  color: white;
}
.blue {
  color: $blue;
}

.green {
  color: $green;
}

.bold {
  font-family: "Montserrat-Bold";
}

.containerText {
  display: flex;
  flex-wrap: wrap;
  
}

@media (max-width: 900px) {
  .containerText {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
    
}