@import "../../assets/styles/common.scss";

.logo {
  width: 18.5rem;
  margin: 1%;
}
.containerMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .containerButton{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .buttonClasic{
    color: rgba(0, 0, 0, 0.507);
    &:hover{
      color: black;
    }
  }
  .button3{
    border-color: $blue;
    color: $blue;
  }
}
