.logo {
  width: 18.5rem;
}
.containerMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &-containerButton{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
