@import "../../assets/styles/common.scss";
$bg-header: url("../../assets/Backgrounds/Bg_Header.png");
$bg-footer: url("../../assets/Backgrounds/Bg_Footer.png");
$bg-sectionA: url("../../assets/img_woloxer@3x.png");

.containerLangding {
  display: flex;
  flex-direction: column;
  width: 100%;

  .header {
    background: $bg-header;
    background-size: contain;
    margin: 3%;
  }

  .containerRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 4%;

    .img {
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      width: 30%;
      margin: auto;
    }
    .containerTextWelcome {
      width: 50%;
      margin-top: 8%;
      .textWelcome {
        font-size: 3.5rem;
        white-space: pre-line;
      }
    }
  }

  .fiftyPorcent {
    width: 50%;
  }
  .sectionA {
    background: $bg-sectionA;
    position: relative;
    z-index: 2;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30rem;

    .containerTwitterText {
      display: flex;
      margin-top: 5%;
      margin-bottom: 1%;
      .twitterSectionA {
        font-size: 2.5em;
        color: white;
      }
      .iconTwitter {
        color: white;
        font-size: 3.5em;
      }
    }

    a {
      position: relative;
      overflow: hidden;
      border-radius: 28px;
      .buttonSectionA {
        color: white;
        border-color: $blue;

        &:hover::after {
          transform: translate(0);
        }

        &:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          background: $blue;
          z-index: -1;
          transform: translate(0, 100%);
          transition: all 0.25s ease;
        }
      }
    }
  }
  .textSection {
    font-size: 3.5rem;
    font-family: "Montserrat-Bold";
  }
  .sectionB {
    background: $gray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30rem;
    padding: 0% 10%;
    .textSection {
      font-family: "Montserrat-semibold";
    }
  }
  .containerBenefits {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5%;
    .textBenefits {
      text-align: center;
      font-size: 2.5rem;
      font-family: "Montserrat-SemiBold";
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    background: $bg-footer;
    background-size: contain;

    .textFooter {
      font-size: 4em;
      font-family: "Montserrat-SemiBold";
    }

    .subTextFooter {
      font-size: 3em;
      font-family: "Montserrat-SemiBold";
    }

    .buttonFooter {
      margin-top: 25%;
      background: $blue;
      color: white;
      overflow: hidden;
      box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
      &:hover {
        transform: translate(0, -5px);
        box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.49);
      }
      &:hover::after {
        transform: translate(0);
      }
    }
  }

  .listBenefits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 4%;
    -webkit-box-shadow: 0px 23px 18px -14px rgba(120, 120, 120, 0.285);
    -moz-box-shadow: 0px 23px 18px -14px rgba(120, 120, 120, 0.285);
    box-shadow: 0px 23px 18px -14px rgba(120, 120, 120, 0.285);
  }
}



@media (max-width: 900px) {
  .containerLangding {
    .containerRow {
      .img {
        display: none;
        opacity: 0;
        visibility: hidden;
      }
      .containerTextWelcome {
        width: 100%;
        margin: 15% 0;

        .textWelcome{
          text-align: center;
        }
      }
    }
    .containerRow {
      display: flex;
      flex-direction: column-reverse;
      .fiftyPorcent {
        width: 100%;
      }
    }
  }
}
